<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>.alpha</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <h2>.alpha</h2>

