<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>.alpha</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <h2>.alpha</h2>
{{template "body" .}}
    <br><br>
    <table>
        <tr>
            <td><a href="/dashboard">Dashboard</a></td>
            <td><a href="/workout/">Workouts</a></td>
            <td><a href="/exercise/">Exercises</a></td>
        </tr>
        </table>
</body>
</html>

