{{define "body"}}
<h3>Create an Exercise</h3>
<form action="/exercise/create" method="post">
    <div class="field-wrapper">
        <label for="exercise" class="">Name</label>
        <input tabindex="2" type="text" name="name" size="100">
    </div>
    <div class="field-wrapper">
        <label for="description" class="">Description</label><br>
        <textarea tabindex="2" name="description" maxlength="1000"></textarea>
    </div>
    Metrics:<br>
    <input type="checkbox" name ="reps">Reps<br>
    <input type="checkbox" name ="weight">Weight<br>
    <input type="checkbox" name ="seconds">Seconds<br>
    <input type="checkbox" name ="speed">Speed<br>
    <input type="checkbox" name ="grade">Grade<br>
    <input type="submit" value="Define exercise">
</form>
{{end}}
