{{template "header" .}}
<h3>Exercises</h3>
<a href="/exercise/create">Define a new exercise</a>
<ul>
{{range .}}
<li><a href="/exercise/id/{{.Id}}">{{.Name}}</a></li>
{{end}}
</ul>
{{template "footer" .}}
